@import "../bower_components/foundation/scss/foundation.scss";

.full_width{
	max-width: 100%;
	background-image: url("../images/pozadina1.jpg");
	background-size: 100% 100%;
	min-height: 700px;
	background-repeat: no-repeat;
}
#link1{
	position: relative;
	top: 40%;
	margin-top: 7%;
}

#link2{
	position: relative;
	top: 55%;
	margin-top: 7%;
}
#link3{
	position: relative;
	top: 60%;
	margin-top: 7%;
}
#link4{
	position: relative;
	top: 40%;
	margin-top: 7%;
}
#link5{
	position: relative;
	top: 50%;
	margin-top: 7%;
}
.whiteback{
  background: rgba(255, 255, 255, 0.7);
}
.page_back{
	border-top: 50px solid #306EFF;
	border-bottom: 50px solid #306EFF;
	max-width: 100%;
	width: 100%;
}